{
  "Username": "OverrideTest",
  "UserAttributes": [
    {
      "Name": "email",
      "Value": "example@hotmail.com"
    },
    {
      "Name": "preferred_username",
      "Value": "PREFERRED_USERNAME"
    }
  ]
}